@import url('https://fonts.font.im/css?family=Roboto:300,300i,400,400i,700,700i%7CRoboto+Mono:400,400i,700,700i&amp;display=fallback');
:root{--md-text-font:"Roboto";--md-code-font:"Roboto Mono"}
.md-typeset p.caption {
    text-align: center;
    font-size: .94em;
    color: grey;
    margin: -.7em 0 0
}

.md-typeset img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.avatar{
    height:128px !important;
}